* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Sofia Sans', sans-serif;
    background-color: white;
    min-height: 100vh;
}

.container {
    background: #F8FAFB;
    border-radius: 12px;
    padding: 128px 56px 56px 56px;
    width: calc(100% - 48px);
    height: calc(100vh - 48px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subtitle {
    color: #849AAB;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 5.92px;
}

.title {
    font-size: 51.67px;
    font-weight: 800;
    line-height: 1;
    color: #849AAB;
    max-width: 400px;
}

.text-light {
    color: #CCDBE2;
    font-size: 48px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
    line-height: 45.10px;
    word-wrap: break-word;
    display: block;
}

.highlight {
    color: #385C78;
    font-size: 48px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 800;
    line-height: 45.10px;
    word-wrap: break-word;
    display: block;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.image-container {
    width: 654px;
    height: 654px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .container {
        padding: 56px 32px 32px 32px;
    }
}

.text-light-700 {
    color: #CCDBE2;
    font-size: 48px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
    line-height: 45.10px;
    word-wrap: break-word;
}
